body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.button {
  margin-top: 5px;
  margin-left: 30px;
  padding: 20px;
  /* border: 1px solid red; */
  background: midnightblue;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
